function include(obj,val){
  return obj.indexOf(val)>-1;
}

function objectKeys(obj) {
  var str = JSON.stringify(obj);
  var reg = getRegExp('"(\w+)":|[{}]', "g");
  var keys = [];
  var nested = 0;
  var result = null;

  while((result = reg.exec(str)) !== null) {
    var match = result[0]

    switch(match) {
      case "{":
        nested++;
        break;
      case "}":
        nested--;
        break;
      default:
        if (nested === 1) keys.push(result[1]);
        break;
    }
  }
  
  return keys;
}

function sum(content) {
  var keys = objectKeys(content);
  var sum = 0;
  for(var i=0;i<keys.length;i++){
    sum+=parseInt(content[keys[i]]);
  }  
	return sum;
}

function replace(str,o,n='未知'){
  return str.replace(o,n);
}

function threshold(type,data){
  console.log(JSON.stringify(data));
  if(type=='sugar'){
    if(data.type==0){
      console.log(data);
      return 3.9 <= data.num && data.num <= 6.1;
    }else{
      return 4.4 <= data.num && data.num <= 7.8;
    }
  }
  if(type=='pressure'){
    if(data.type==0){
      return 90 <= data.num && data.num <= 139;
    }else{
      return 60 <= data.num && data.num <= 89;
    }
  }
  return false;
}

module.exports = {
  include:include,
  sum:sum,
  replace:replace,
  threshold:threshold
}